:root {
  font-family: 'archiaregular';
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
  background-color: #16181f;
  margin: 0;
}

h1 {
  background: linear-gradient(to right, #8479ff 0%, #9f63ff 31%, #7a97ff 71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a,
button {
  text-decoration: none;
  transition: all 0.3s ease;
}

.container {
  padding: 0 1rem;
  margin: 0 auto;

  @media (min-width: 640px) {
    padding: 0 2rem;
  }

  @media (min-width: 1536px) {
    padding: 0 5rem;
  }
}
